body{
    background-image: url(img/effilel\ tower.jpg);
    height: 2250px;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo{
    font-family: Arial, Helvetica, sans-serif; 
    font-size: medium;
    background-color: black;
    padding: 10px;
    position: fixed;
    z-index: 3;
    top: 10px;
    border: 2px solid whitesmoke;
    border-style:double ;
    border-radius: 10px;
    font-weight: bold;
    color: aliceblue;
}
.bar{
    background-color: #30419f;
    width: 100%;
    max-width: 1750px;
    left: 0;
    right: 0;
    padding: 5px;
    height: 50px;
    top: 0px;
    position: fixed;
    z-index: 2;
}
#login{
    position: absolute;
    left: 650px;
}

#homeicon{
   position: fixed;
    left: 700px;
}
#lan{
position: fixed;
    left: 800px;
}
#profile{
    position: fixed;
    left: 900px;

}
#Signout{
   position: fixed;
    left: 1000px;
  
}

#search{
    position: fixed;
    left: 400px;
    size: 400px;
}
.travel{
    position: relative;
    background-color: azure; 
    color:black;
   top:100px;
    margin-bottom: 150px;
    width: fit-content;
    padding: 20px;
    border-radius: 50px;
}
.travel img{
    height: 100px;  
    float: left; 
    padding: 15px;
}
#sch{
    position: fixed;
    left: 1100px;
}
#search{
    position: fixed;
    left: 600px;

}
.popular
{
   position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px; 
    padding: 20px;   
   
}
.popular h3{
    padding: 100px;
    background-color: #30419f;
    color: aliceblue;
    }
.ofh{
    text-align:center;
    background-color:  whitesmoke ;
    border-radius: 10px;
    padding: 5px;
    width:fit-content;
    margin: 20px auto;
}
.offer{
    display: flex;
    flex-wrap: wrap; 
    gap: 40px;
    padding: 50px;
}
.offer div{
   width: 350px;
  text-align: center;
  color: darkblue;
}
.offer h1{
    background-color :plum;
    border-radius: 30px;
}
.offer p{
    background-color: azure;
    width: fit-content;
    margin-left:130px;
}
.userex{
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
}
.userex h1{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
    width:fit-content;
    color: blue;
}
.contact-container 
{
            text-align: center;
            margin-top: 50px;
}
 .contact-container a
{
            text-decoration: none;
            margin: 10px;
            font-size: 24px;
            color: #333;
}
.contact-container a:hover
{
            color: #007bff;
}